<div class="states-container" id="legend">
  <div class="search-container">
    <p>Штаты</p>
    {{input type="search" placeholder="Введите штат" value=search  input=(action "onSearchInput")}}
  </div>

  <ul>
    {{#each data as |feature|}}
      <li class="{{if (eq activeState feature.properties.name) "active" ""}}" onclick={{action "setActiveState" feature.properties.name}}>{{feature.properties.name}}</li>
    {{/each}}
  </ul>
</div>