body {
  height: 100vh;
  margin: 0;
}

.map {
  height: 100%;
}

.states-container {
  z-index: 9999;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  height: 300px;
  padding: 15px;
  overflow-y: scroll;
  border-radius: 5px;
}

.active {
  background-color: bisque;
}

.leaflet-popup-content p {
  margin: 0;
}

.popup-title {
  margin-bottom: 5px !important;
  font-weight: bold;
}

.states-container p {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.states-container ul {
  list-style: none;
  padding: 0;
}

.states-container li {
  cursor: pointer;
  margin-bottom: 5px;
}

.states-container li:hover {
  background-color: coral;
}
